<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inf024project">

    <uses-permission android:name="android.permission.INTERNET" />

    <activity android:name=".NotificationPage"></activity>
    <activity android:name=".ProfilePage" />
    <activity android:name=".HomePageOfBuyApp"/>

    <activity android:name=".BuyOrGo" />
    <activity android:name=".Register" />
    <activity android:name=".Opening" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".LoginOptions" />
    <activity android:name=".UserLogin" />

</manifest>